* {
  font-family: sofia-pro, sans-serif;
  background-color: #252525;
  color: #ffffff;
}

h1 {
  font-size: 1.7em;
  font-family: poppins;
  font-weight: 700;
}

h2 {
  font-family: poppins;
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.howto {
  line-height: 4em;
}

/* main {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
} */

img {
  height: auto;
  max-width: 100%;
}

.species {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  padding: 3em;
  /* border-style: solid; */
  margin: 2em;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}

aside {
  padding: 3em;
  grid-column: 2/3;

  margin: 2em;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-basis: 50%;
}
@media screen and (max-width: 900px) {
  aside,
  article {
    grid-column: 1/3;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  padding: 3em;
}

.yellow {
  color: #fbbc04;
}

.referencelink {
  font-size: 1em;
}
.referencelist {
  list-style: none;
  line-height: ;
}
.referencepoint {
  margin-bottom: 4em;
}

video {
  margin-bottom: 2em;
}

/* Navigation */

.navlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  position: relative;
}
a:after {
  background: none repeat;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #6511fa;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

a:hover {
  color: #6511fa;
}

/* .navigation {
  display: flex;
  flex-direction: row;
} */

.inlinelink {
  font-size: 1em;
  color: #6511fa;
}

/* Firefox */

.oxcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
}

/* Google Canary */

.moo {
  display: flex;
  flex-direction: column;
}
.secondoxcard {
  contain: layout inline-size style;
}
@container (min-width: 60rem) {
  .moo {
    flex: 1 1 0px;
    flex-direction: row;
  }
  .moo > img,
  h1,
  p {
    /* flex-grow: 1;
    flex-basis: 1; */
  }
  .moo > img {
    object-fit: cover;
    width: 50%;
  }

  .cardtext {
    margin-left: 2em;
  }
}
